<br>
<div class="bg-dark">
<div class="row py-5  ">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h3 class="CustFont mt-5 text-light">What's new on CoRakshak ?</h3>
    </div>


    <div class="col-md-7">
      <p-scrollPanel [style]="{width: '100%', height: '300px'}">
        <div class="accordion accordion-flush text-light" id="accordionFlushExample">
            <div class="accordion-item bg-dark">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    You can register as a foreign national on CoRakshak and get vaccinated
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">New feature has been provided for foreign national. You can easily be vaccinated just by providing your basic details. If you have been administered with Dose 1 vaccine in foreign country, you'll have provide it's details to Vaccinator while going for Vaccination.</div>
              </div>
            </div>

            <div class="accordion-item bg-dark">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Citizens can link their passports to CoRakshak issued certificate by raising an issue in their accounts
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">This is a new feature provided where you can link your passport by entering Passport number. In order to link your passport to the certificate you need to login into your CoRakshak portal and then raise an issue to get your passport linked by clicking on "Add Passport Details to my vaccination certificate"</div>
              </div>
            </div>

            <div class="accordion-item bg-dark">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Introducing “Raise an Issue” to CoRakshak for all your vaccine certificate and account related issues
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can now get all your Issues related to your Vaccine Certificate at one place. All you need to do is to login to your CoRakshak portal and click on "Raise an Issue" . Multiple Issue options are provided. You can raise your concerned issues accordingly.</div>
              </div>
            </div>

            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingForth">
                  <button class="accordion-button collapsed bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseForth" aria-expanded="false" aria-controls="flush-collapseForth">
                    Check your eligibility for Dose 2 by signing in on CoRakshak with your registered mobile number
                  </button>
                </h2>
                <div id="flush-collapseForth" class="accordion-collapse collapse" aria-labelledby="flush-headingForth" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Citizens administered with dose 1 can now check their eligibility for Dose 2 by performing a single step.
                    "Login to your CoRakshak portal" and there you have your eligibility mention next to your name, highlighted as "No. of Days left for Dose 2".</div>
                </div>
              </div>
          </div>
        </p-scrollPanel>
    </div>
    <div class="col-md-2"></div>
</div>
</div>