<br><br><br>
<!-- section-1 -->
<div class="">
<div class="row text-secondary py-5">
    <div class="col-md-3">
        <strong class="border bordered p-5 m-3 pt-0 shadow-sm rounded">Registration Today</strong>
    </div>
    <div class="col-md-3">
        <strong class="border bordered p-5 m-3 pt-0 shadow-sm rounded">Vaccination Today</strong>
    </div>
    <div class="col-md-3">
        <strong class="border bordered p-5 m-3 pt-0 shadow-sm rounded">Partially vaccinated Today</strong>
    </div>
    <div class="col-md-3">
        <strong class="border bordered p-5 m-3 pt-0 shadow-sm rounded">Fully vaccinated Today</strong>
    </div>
</div>
<br><br>
<!-- section-2 -->
<div class="row my-5 text-secondary">
    <div class="col-md-8"></div>
    <div class="col-md-2">
        <button class="btn btn-light  btn-lg dropdown-toggle rounded" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           <span class="text-secondary">Select your State</span> 
        </button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-light btn-lg dropdown-toggle rounded" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-secondary"> Select your District </span> 
         </button>
    </div>
</div>
<!-- section-3 -->
<div class="row text-secondary">
    <div class="col-md-4">
        <div class="border bordered rounded text-center shadow-sm p-2 m-2">
        <strong>Total Vaccination Doses</strong><br>
        <strong>1,08,18,84,080</strong>
        <div class="row pt-3">
            <div class="col-md-6">
                <small>Dose:1</small><br>
                <strong>74,08,04,287</strong>
            </div>
            <div class="col-md-6">
                <small>Dose:2</small><br>
                <strong>74,08,04,287</strong>
            </div>
        </div>       
     </div>
    </div>

    <div class="col-md-4">
        <div class="border bordered rounded text-center shadow-sm p-2 m-2">
        <strong>Sites Conducting Vaccination</strong><br>
        <strong>1,08,18,84,080</strong>
        <div class="row pt-3">
            <div class="col-md-6">
                <small>Government</small><br>
                <strong>74,08,04,287</strong>
            </div>
            <div class="col-md-6">
                <small>Private</small><br>
                <strong>74,08,04,287</strong>
            </div>
        </div>       
     </div>
    </div>

    <div class="col-md-4">
        <div class="border bordered rounded text-center shadow-sm p-2 m-2">
        <strong>Total Registrations</strong><br>
        <strong>1,08,18,84,080</strong>
        <div class="row pt-3">
            <div class="col-md-6">
                <small>Age 18-44</small><br>
                <strong>74,08,04,287</strong>
            </div>
            <div class="col-md-6">
                <small>Age 45+</small><br>
                <strong>74,08,04,287</strong>
            </div>
        </div>       
     </div>
    </div>

</div>
<br><br>

<app-vaccination-trend></app-vaccination-trend>
</div>