<!-- first navbar -->
<div class="overflow-hidden">
<nav class="navbar navbar-expand-lg navbar-light CustbgColor">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav p-2">
          <a class="nav-link text-light bg-secondary border border-light rounded mx-3 p-2 px-3" routerLink="home/landing">Home</a>
          <a class="nav-link text-light bg-secondary border border-light rounded mx-3 p-2 px-3" routerLink="Admin/AdminLogin">Administration</a>
          <a class="nav-link text-light bg-secondary border border-light rounded mx-3 p-2 px-3" routerLink="dashSummary/dashSum">Dash Board</a>
        </div>
      </div>
    </div>
  </nav>

<!-- second Navbar -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fs-2 fw-bold text-secondary">Co-RAKSHAK</a>
      
        <div class="d-flex">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              VACCINATION SERVICES
            </button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item " routerLink="comman/logReg">Register Members</a></li>
              <li><a class="dropdown-item" routerLink="home/VaccinationCenter">Search Vaccination Center</a></li>
              <li><a class="dropdown-item" routerLink="comman/logReg">Book Vaccination Slots</a></li>
              <li><a class="dropdown-item" routerLink="comman/logReg">Manage Appointment</a></li>
            </ul>
          </div>
       
        <a class="nav-link text-light bg-success rounded-pill mx-3 px-4" routerLink="comman/logReg">Login/Registration</a>
      </div>
    </div>
  </nav>
  </div>