<div class="overflow-hidden">
<div class="row CustbgColor py-2">
        <div class="col-md-1"></div>
      
        <div class="col-md-2">
            <strong class="text-light">Vaccination Services</strong>
            
                <div>
                    <a routerLink="comman/logreg" class="CustTextDecoration">Register Member</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Search Vaccination Centers</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Book Vaccination Slots</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Manage Appointment</a> 
                </div>
           
        </div>

        <div class="col-md-2">
            <strong class="text-light">Platforms</strong>
            
                <div>
                    <a href="" class="CustTextDecoration">Vaccinator</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Department Login</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Vaccination Statistics</a>
                </div>
        </div>

        <div class="col-md-2">

            <strong class="text-light">Resources</strong>
            
                <div>
                    <a href="" class="CustTextDecoration">How to get vaccinated</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Dos and Don'ts</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Overview</a>
                </div> 

        </div>

        <div class="col-md-2">
            <strong class="text-light">Support</strong>
            
                <div>
                    <a href="" class="CustTextDecoration">Frequently asked questions</a>
                </div>
                <div>
                    <a href="" class="CustTextDecoration">Certificate correction</a>
                </div>               
             
        </div>

        <div class="col-md-2">
            <strong class="text-light">Contact Us</strong>
            
            <div>
                <a href="" class="CustTextDecoration">Help-Line: +91-85-8447-88</a>
            </div>
            <div>
                <a href="" class="CustTextDecoration">Technical Help-Line: +91-85-8447-88</a>
            </div>
            
        </div>
        <br><br>
        <div class="col-md-1"></div>

        <div class="col-md-1"></div>
        <div class="col-md-6">
            <p class="CustTextDecoration">Copyright © 2021 CoWIN. All Rights Reserved</p>
        </div>
        <div class="col-md-2">
            <a class="CustTextDecoration">Terms of Services</a>
        </div>
        <div class="col-md-1">
            <a class="CustTextDecoration">Privacy Policy</a>
        </div>
        <div class="col-md-1"></div>

</div>
</div>