<br>
<div class="overflow-hidden">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="CustFont text-center">Frequently Asked Questions</h1>
    <br><br>
    <p-tabView>
      <!-- Registration Tab -->
      <p-tabPanel header="Registration">

        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
          <div class="accordion accordion-flush text-secondary" id="accordionFlushExample">

            <!-- Tab-1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                  aria-controls="flush-collapseOne">
                  Where can I register for COVID-19 vaccination?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can log into the CoRakshak portal using the link www.corakshak.in and
                  click on the “Register / Sign In yourself” tab to register for COVID-19 vaccination.</div>
              </div>
            </div>
            <!-- Tab-2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                  aria-controls="flush-collapseTwo">
                  Is there a mobile app that needs to be installed to register for vaccination?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">There is no authorised mobile app for registering for vaccination in India
                  except Aarogya Setu. You need to log into the CoRakshak portal. Alternatively, you can also register for
                  vaccination through the Aarogya Setu app and Umang app.</div>
              </div>
            </div>
            <!-- Tab-3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                  aria-controls="flush-collapseThree">
                  Which age groups can register for vaccination on the CoRakshak portal?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">All beneficiaries aged 18 years and above can register for vaccination.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingfour">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false"
                  aria-controls="flush-collapsefour">
                  Is online registration mandatory for Covid-19 vaccination?
                </button>
              </h2>
              <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Vaccination Centers provide for a limited number of on-spot registration
                  slots every day. Beneficiaries aged 45 years and above can schedule appointments online or walk-in to
                  vaccination Centers. Beneficiaries aged 18 years and above can schedule appointments online or walk-in
                  to Government vaccination Centers. However, beneficiaries aged 18-44 years should mandatorily register
                  themselves and schedule appointment online before going to a Private vaccination centre.
                  In general, all beneficiaries are recommended to register online and schedule vaccination in advance
                  for a hassle-free vaccination experience.</div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </p-tabPanel>
      <!-- Login Tab  -->
      <p-tabPanel header="Login">
        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
          <div class="accordion accordion-flush text-secondary" id="accordionFlushExample">

            <!-- Tab-1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading1">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false"
                  aria-controls="flush-collapse1">
                  Can I book an appointment for vaccination in the CoRakshak portal?
                </button>
              </h2>
              <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes, you can book appointment for vaccination through CoRakshak portal after
                  logging-in to the CoRakshak Portal through your registered mobile number.</div>
              </div>
            </div>
            <!-- Tab-2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading2">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false"
                  aria-controls="flush-collapse2">
                  What are the options if one citizen is aged 45 or above and other is aged 18 or above?
                </button>
              </h2>
              <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">If one beneficiary is aged 45 or above and other beneficiary is aged 18 to
                  44 years and both want to schedule a combined appointment, then only private paid vaccination centers
                  or vaccination centers as per State’s policy will be made available. However, it may happen that some
                  hospitals which are catering to people with 45 years or more may not allow the booking of appointments
                  for people with lesser age. In that case you may make bookings one by one.</div>
              </div>
            </div>
            <!-- Tab-3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading3">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false"
                  aria-controls="flush-collapse3">
                  Can I check the vaccine being administered at each Vaccination Center?
                </button>
              </h2>
              <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes, while scheduling an appointment for vaccination, the system will show
                  vaccination center names along with the name of the vaccine that will be administered.</div>
              </div>
            </div>
            <!-- Tab-4 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading4">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false"
                  aria-controls="flush-collapse4">
                  How can I find the nearest Vaccination Center?
                </button>
              </h2>
              <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can search in CoRakshak portal or Aarogya Setu or Umang for the vaccination
                  center nearest to your location by either searching through Map, PIN code or by choosing the State and
                  the District.</div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </p-tabPanel>
      <!-- Medical Tab -->
      <p-tabPanel header="Medical">
        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
          <div class="accordion accordion-flush text-secondary" id="accordionFlushExample">

            <!-- Tab-1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingtab">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapsetab" aria-expanded="false"
                  aria-controls="flush-collapsetab">
                  Whom do I contact in case of side effects from vaccination?
                </button>
              </h2>
              <div id="flush-collapsetab" class="accordion-collapse collapse" aria-labelledby="flush-headingtab"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can contact on any of the following details:
                  a. Helpline Number: +91-11-23978046 (Toll free - 1075 ).
                  b. Technical Helpline Number: 0120-4473222.
                  You may also contact the Vaccination center where you took vaccination, for advice.</div>
              </div>
            </div>
          </div>

        </p-scrollPanel>
      </p-tabPanel>
      <!-- Raise an Issue Tab -->
      <p-tabPanel header="Raise an Issue">
        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
          <div class="accordion accordion-flush text-secondary" id="accordionFlushExample">

            <!-- Tab-1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headinga">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapsea" aria-expanded="false"
                  aria-controls="flush-collapsea">
                  Where can I raise an issue/query related to CoRakshak?
                </button>
              </h2>
              <div id="flush-collapsea" class="accordion-collapse collapse" aria-labelledby="flush-headinga"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can log in to the registration portal on CoRakshak. On the Accounts details page, click on “Raise an Issue” tab.</div>
              </div>
            </div>
            <!-- Tab-2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingb">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseb" aria-expanded="false"
                  aria-controls="flush-collapseb">
                  What are the kinds of issues that can be raised on CoRakshak?
                </button>
              </h2>
              <div id="flush-collapseb" class="accordion-collapse collapse" aria-labelledby="flush-headingb"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can raise the following issues on CoRakshak:
                  a. Correction in certificate labels
                  b. Merging multiple dose 1 certificates
                  c. Addition of passport details for travel abroad
                  d. Report an unknown member
                  e. Transfer registered members to another account
                  For detailed guidelines on how to raise an issue, go to
                  https://prod-cdn.preprod.co-vin.in/assets/pdf/Grievance_Guidelines.pdf..</div>
              </div>
            </div>
            <!-- Tab-3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingc">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapsec" aria-expanded="false"
                  aria-controls="flush-collapsec">
                  How much time does the CoRakshak portal take in issue resolution?
                </button>
              </h2>
              <div id="flush-collapsec" class="accordion-collapse collapse" aria-labelledby="flush-headingc"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">All issues raised in the portal are resolved within 24 hours. Beneficiaries can track the status of the issues raised by clicking on the “Track request” tab next to “Raise an Issue” tab, only once a request has been raised.</div>
              </div>
            </div>
            <!-- Tab-4 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingd">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapsed" aria-expanded="false"
                  aria-controls="flush-collapsed">
                  Where do I raise issues not listed under the 5 categories mentioned above?
                </button>
              </h2>
              <div id="flush-collapsed" class="accordion-collapse collapse" aria-labelledby="flush-headingd"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">In case of any issue/grievance not falling under the five categories mentioned above, beneficiaries may reach out to the below contact details:
                  a. Helpline Number: +91-11-23978046
                  b. Technical Helpline Number: 0120-4473222</div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </p-tabPanel>
     
    </p-tabView>




  </div>
  <div class="col-md-2"></div>
</div>
</div>