    <div class="row">
        <div class="col-md-8">
            <div class="chart">
                <canvas id="GraphForAge"></canvas>
            </div>
        </div>

        <div class="col-md-4">
            <div class="">
                <canvas id="PiaForAge" height="500px" width="500px"></canvas>
            </div>
        </div>

    </div>

