<br>
<div class="overflow-hidden">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2 class="CustFont">Raise An Issue</h2>
        <h5>Raise an issue or get solutions to your CoRakshak account and vaccination certificate related issues instantly..</h5>
        <br>
        <h4 class="text-decoration-none">
        <div>
                <a routerLink="comman/logReg" class="text-decoration-none">Report unknown member</a>                 
        </div>
        <br>
        <div>
            <a routerLink="comman/logReg" class="text-decoration-none">Transfer member to new number</a>
        </div>
        <br>
        <div>
            <a routerLink="comman/logReg" class="text-decoration-none">Add Passport</a>
        </div>
    </h4>
    </div>
    <div class="col-md-5">
        <img [src]="customerCare" height="400" width="500" alt="">
    </div>
    <div class="col-md-1"></div>
</div>
</div>