<br>
<div class="overflow-hidden">
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <img [src]="img1" height="50px" width="50px">
            </div>
            <div class="col-md-9">
                <span>
                    <h3>Total vaccination Doses</h3>
                </span>
                <span>
                    <h1>110,54,45,554</h1>
                </span>
                <span class=" float-end">
                    <button class="btn btn-secondary">View More</button>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6 border-start">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <img [src]="img2" height="50px" width="50px">
            </div>
            <div class="col-md-10">
                <span>
                    <h3>Vaccinations Done Today</h3>
                </span>
                <span>
                    <h1>1,54,45,554</h1>
                </span>
            </div>
        </div>
    </div>
    </div>