<div class="overflow-hidden">
<div class="wrapper">
  <div class="row">
    <div class="wrapper1">
      <div class="col-md-4">
        <h1> <strong>CoRAKSHAK for the World</strong> </h1>
        <strong>Launching CoWIN as an open source platform for countries to orchestrate successful vaccination with
          efficient monitoring with an aim of achieving universal vaccination</strong>
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
  <!-- slider -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="homeImg1" class="d-block w-100" height="800" width="100%" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="homeImg2" class="d-block w-100" height="800" width="100%" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="homeImg3" class="d-block w-100" height="800" width="100%" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
<div>
  <app-vaccination-count></app-vaccination-count>
  <app-vaccination-center></app-vaccination-center>
  <app-whatsnew></app-whatsnew>
  <app-raise-issue></app-raise-issue>
  <app-step-to-vaccinate></app-step-to-vaccinate>
  <app-faq></app-faq>
  <app-vaccinesummery></app-vaccinesummery>
  <app-our-partner></app-our-partner>

</div>
</div>