<div class="overflow-hidden">
<div class="row py-5">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <p-steps [model]="items"></p-steps>
    </div>
    <div class="row mt-4">
        <div class="col-md-1"></div>
    <div class="col-md-3 CustFontMenu text-center">
        <h3>Book an Appointment On
            CoRakshak or Walk Into Any
            Vaccination Center</h3>
            <div class="card p-2" style="width: 20rem;">
                <img [src]="vaccinatedImg1" class="card-img-top" alt="...">
                <h5 class="mt-2">
                <strong class="card-text">How to Book your Appointment in CoRakshak</strong>
                </h5>
            </div>
              
    </div>
    <div class="col-md-3 CustFontMenu text-center">
        <h3>Get Your Vaccination
            Safely at the Time of Your
            Appointment</h3>
            <div class="card p-2" style="width: 20rem;">
                <img [src]="vaccinatedImg2" class="card-img-top" alt="...">
                <h5 class="mt-2">
                    <strong class="card-text">Do's and Don't for getting vaccinated</strong>
                    </h5>
            </div>
    </div>
    <div class="col-md-3 CustFontMenu text-center">
        <h3>Download Your Vaccination
            Certificate from CoRakshak
            and Wait for Dose #2</h3>
            <div class="card p-2" style="width: 20rem;">
                <img [src]="vaccinatedImg3" class="card-img-top" alt="...">
                <h5 class="mt-2">
                    <strong class="card-text">Download your vaccine certificate from CoRakshak</strong>
                    </h5>
            </div>
    </div>
</div>

    <!-- <div class="col-md-1"></div> -->

</div>
</div>