.link1{
   margin: 20px;
   text-decoration: none;
   cursor: pointer;
   color: gray;
}
a:hover{
    color: black;
    text-decoration: underline;
}

/* .chart{
    display: block;
    width: 70%;
    height: 500px;
    
} */