<div class="row m-2  py-5 shadow-sm">
    <strong class="text-secondary">Vaccination Trend</strong>
    <div class="mt-5">
        <a class="btn btn-light mx-3"><strong>By Doses</strong></a>
       
    </div>



    <div class="col-md-2"></div>
    <div class="col-md-9">
        <app-by-dose></app-by-dose>
    </div>

    <div class="col-md-2"></div>

    <div class="row">
        <a class="btn btn-light" ><strong>By Age</strong></a>
        <!-- By Age -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-by-age ></app-by-age>
        </div>
        <div class="col-md-1"></div>

    </div>
    
</div>




<!-- <div class="col-md-9">
        <strong class="text-secondary">Vaccination Trend</strong> -->



<!-- <p-tabView> -->
<!-- <p-tabPanel header="By Doses"> -->
<!-- <div class="col-md-7">
                    <div class="chart">
                        <canvas id="GraphForAge"></canvas>
                    </div>
                </div> -->
<!-- <app-by-dose></app-by-dose> -->
<!-- </p-tabPanel>  -->

<!-- <p-tabPanel header="By Age">
                <div class="row">
                    <div class="col-md-7">
                        <div class="chart">
                            <canvas id="GraphForAge"></canvas>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="chart">
                            <canvas id="PiaForAge"></canvas>
                        </div>
                    </div>
                </div>
            </p-tabPanel> -->
<!-- </p-tabView> -->

<!-- <app-by-age></app-by-age> -->



<!-- </div> -->


<!-- <div class="row my-5" >
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="chart" >
                <canvas id="GraphForAge"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="chart" >
                <canvas id="PiaForAge"></canvas>
            </div>
        </div>
    </div> -->

<br><br>