
<br><br>
<div class="row mb-5  ">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center border border p-5 bg-light rounded">
        <h3 class="text-primary"><strong>Register or Sing in for vaccination</strong></h3>
        <small>An OTP will be sent to your mobile number for verification</small>
        <form *ngIf="GenOTP">
            <div class="row mb-3">
              <label for="inputmobotp" class="col-sm-2 col-form-label"></label>
             
                <input type="tel" class="form-control border-bottom text-center" name="inputotp" placeholder="Enter Your Mobile Number" [(ngModel)]="mobNum" [ngModelOptions]="{standalone: true}" >
            </div>
            <div>
                <button class="btn btn-secondary px-5" (click)="GenerateOtp()">Generate OTP</button>
            </div>
        </form>    
        <!-- Submit OTP -->
        <form *ngIf="cnfOTP">
            <div class="row mb-3">
              <label for="otp" class="col-sm-2 col-form-label"></label>
             
                <input type="text" class="form-control  border-bottom text-center" id="Userotp" 
                [(ngModel)]="otp" placeholder="Enter OTP" [ngModelOptions]="{standalone: true}">

            </div>
            <div>
                <button class="btn btn-secondary px-5" (click)="ConfirmOtp()">Confirm OTP</button>
            </div>
        </form>    
        <div>
            <small>By Sign In/Registration, I agree to the Terms of Service and Privacy Policy</small>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<br><br><br><br><br>
