
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <h2 class="text-center"> <strong>India is running the world’s largest vaccination drive</strong> </h2>
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <img [src]="india" height="500" width="400" alt="">
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 mt-5">
                    <strong>Vaccines Delivered</strong>
                        <h1>12,154,4577</h1>
                        <br>

                        <strong>Citizens Fully Vaccinated</strong>
                        <h1>12,154,4577</h1>                       
                        <br> 

                        <strong>% of Fully Vaccinated</strong>
                        <h1>45.84%</h1>
                    </div>
               
            </div>
    </div>
    <div class="col-md-1"></div>
</div>
