<br><br>
<div class="overflow-hidden">
<div class="row">
    <h1 class="text-center"><strong>Our Partners</strong></h1>
    <div class="col-md-2"></div>
    <div class="col-md-8 my-5">
        <div class="row">
            <div class="col-md-3"> <img [src]="partner1"></div>
            <div class="col-md-3"> <img [src]="partner2"></div>
            <div class="col-md-3"> <img [src]="partner3"></div>
            <div class="col-md-3"> <img [src]="partner4"></div>            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
</div>