
<br><br><br>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <div class="border border p-5 rounded bg-light">
            <h1 class="text-primary"><strong>Co-RAKSHAK</strong></h1>
            <div>
                <small class="text-secondary">Welcome!</small><br>
                <small class="text-dark">Health Faculty Manager</small>
            </div><br>
            <form>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-fluid">
                        <p-inputNumber inputId="inputnumber" [(ngModel)]="value6" class="ng-invalid ng-dirty">
                        </p-inputNumber>
                        <label for="inputnumber">MOBILE NUMBER</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-fluid">
                        <p-password inputId="password" [(ngModel)]="value11" class="ng-invalid"></p-password>
                        <label for="password">PASSWORD</label>
                    </span>
                </div>
                <strong>Forgot Password?</strong><br><br>
                <div class="mb-3">
                    <button class="btn btn-primary w-50">Login</button>
                </div>
                <small>OR</small>
                <div class="mt-3">
                    <button class="btn btn-dark  w-50">Login using OTP</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>